1.Program to get the largest and smallest number from a list.

In [1]:
list = [10,40,60,100,50,70]
print("The given list is:",list)
print("Largest number in the list is",max(list))
print("Smallest number in the list:",min(list))

The given list is: [10, 40, 60, 100, 50, 70]
Largest number in the list is 100
Smallest number in the list: 10

2.Program to remove duplicate elements from a list.

In [2]:
list1 = [1,2,2,3,3,3,4,4,4,4,5,5,5]
list2 = []

for item in list1:
    if item not in list2:
        list2.append(item)
print("New list:",list2)

New list: [1, 2, 3, 4, 5]

3.Program to check if the list is empty or not.

In [3]:
list1 = [1,2,3,4,5,6]
list2 = []
if list1 == []:
    print("True")
else:
    print("False")
    
if list2!=[]:
    print("False")
else:
    print("True")

False
True

4.Program to clone or copy a list.

In [4]:
list1=[1,2,3,4,5,6]
print("Original list:",list1)
list2 = list1.copy()
print("Copied list:",list2)

Original list: [1, 2, 3, 4, 5, 6]
Copied list: [1, 2, 3, 4, 5, 6]

5.Program to print a specified list after removing the 0th, 4th and 5th elements.

In [5]:
list1 = ["Ramesh","Suresh,","Mahesh","Kamlesh","Mukesh","Bhavesh"]
list1.remove("Ramesh")
list1.remove("Mukesh")
list1.remove("Bhavesh")
print("New list:",list1)

New list: ['Suresh,', 'Mahesh', 'Kamlesh']

6.Program to print the numbers of a specified list after removing even numbers from it.

In [8]:
list1=[1,2,3,4,5,6]
for item in list1:
    if item%2==0:
        list1.remove(item)
print(list1)

[1, 3, 5]


7.Program to shuffle and print a list.

In [9]:
from random import shuffle
list1 = [1,2,3,4,5,6]
shuffle(list1)
print("New list:",list1)

New list: [3, 4, 5, 1, 6, 2]

8.Program to find the difference between two lists.

In [7]:
list1 = [1,2,3,4,5]
list2 = [2,4]
list3 = []
for item in list1:
    if item not in list2:
        list3.append(item)
print(list3,"is the difference between given two lists.")

[1, 3, 5] is the difference between given two lists.