Write a Python function to find the max of three numbers.

In [ ]:
def maxnumber(a,b,c):
  if a>b and a>c:
    print("a is maximum: "+str(a))
  elif b>a and b>c:
    print("b is maximun: "+str(b))
  else:
    print("c is maximum: "+str(c))


a=int(input("Enter the first value"))
b=int(input("Enter the second value"))
c=int(input("Enter the third value"))
maxnumber(a,b,c)

Enter the first value7
Enter the second value5
Enter the third value4
a is maximum: 7

Write a program to reverse a string.

In [ ]:
a=input("Enter the string: ")
print(a[-1::-1])

Enter the string: King
gniK

Write a python function to check whether the number is prime or not .

In [21]:
def primenumber(n):
  for i in range(2,n//2+1):
    if (n%i==0):
      return "The number is not prime"
      
    else:
      return "The nummber is prime"
      
n=int(input("Enter the number"))
primenumber(n)

Enter the number6

'The number is not prime'

Write a python fuction to find sum of square of first n natural numbers.

In [5]:
def sum_square(n):
  sum=0
  for i in range(n+1):
    square=i*i
    sum+=square
  return sum
print(sum_square(4))

30