1.Convert Binary to Decimal

In [2]:
num=int(input("Enter the binary number: "))
decimal=0
base=1
temp=num

while temp!=0:
    last=temp%10
    temp=int(temp/10)
    decimal+=last*base
    base=base*2
print("The decimal form is",decimal)

Enter the binary number: 01010
The decimal form is 10

2.Generate first n Fibonacci series

In [3]:
n= int(input("Enter the value of n: "))
n1=0
n2 =1 
count=0
print("Fibonacci Sequence until",n,"terms is: ")
while count<n:
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3
    count+=1

Enter the value of n: 7
Fibonacci Sequence until 7 terms is:
0
1
1
2
3
5
8

3.Display multiplication table of k. Take k value from user.

In [4]:
k=int(input("Enter a number to print the multiplication table: "))
print("Multiplication table:")
for i in range(1,11):
    print(k,"*",i,"=",k*i)

Enter a number to print the multiplication table: 3
Multiplication table:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4.Take 10 integers from keyboard using loop and print their average value on the screen .

In [19]:
sum=0
for n in range(1,11):
   n= int(input("Enter a value: "))
   sum=sum+n
average=sum/11
print(average)

Enter a value: 4
Enter a value: 5
Enter a value: 6
Enter a value: 7
Enter a value: 9
Enter a value: 5
Enter a value: 6
Enter a value: 5
Enter a value: 4
Enter a value: 5
5.090909090909091

4.b)Print the following patterns using loop:

In [21]:
rows = 4
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print("*", end="")
    print("")

*
**
***
****

5.Program to find the GCD of two numbers.

In [14]:
import math
n1= int(input("Enter First number:"))
n2= int(input("Enter second number:"))
print(math.gcd(n1,n2),"is the GCD of",n1,"and",n2)

Enter First number:4
Enter second number:8
4 is the GCD of 4 and 8

6.Program that accepts a word from the user and reverses it.

In [17]:
word=input("Enter a word: ")
rev= word[::-1]
print("Reverse of",word,"is",rev)

Enter a word: dad
Reverse of dad is dad

7.Program to count the number of even and odd numbers from a series of numbers.

In [18]:
start=int(input("Enter the starting number: "))
end=int(input("Enter the ending number:"))
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The number of even numbers:",count_even)
print("The number of odd numbers",count_odd)

Enter the starting number: 0
Enter the ending number:100
The number of even numbers: 51
The number of odd numbers 50

8.Program that prints all numbers from 0 to 6 except 3 and 6

In [19]:
for num in range(0,6):
    if num==3:
        continue
    print(num)

0
1
2
4
5